[package]
name = "dygma-layer-switcher"
version = "0.1.0"
edition = "2021"
authors = ["Matthew Wilding <mbwilding@gmail.com>"]

[dependencies]
common = { path = "../common" }
anyhow = "1.0"
crossbeam-channel = "0.5"
single-instance = "0.3"
tracing = "0.1"
tracing-subscriber = "0.3"
tray-item = "0.9"

[target.'cfg(windows)'.dependencies]
windows = { path = "../windows" }

[build-dependencies]
embed-resource = "2.3"
