name: Windows

on:
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target:
          - x86_64-pc-windows-gnu
          - aarch64-pc-windows-gnu

    steps:
      - name: "Checkout"
        uses: actions/checkout@master

      - name: "Extract Package Version"
        id: cargo-version
        run: |
          version=v$(grep -oP 'version\s*=\s*"\K[0-9]+\.[0-9]+\.[0-9]+' dygma-layer-switcher/Cargo.toml | head -n 1)
          echo "PACKAGE_VERSION=$version"
          echo "PACKAGE_VERSION=$version" >> $GITHUB_ENV

      - name: "Set up Rust"
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          targets: ${{ matrix.target }}

      - name: "Install Dependencies"
        run: sudo apt-get install -y mingw-w64 libudev-dev zip wine64

      - name: "Build"
        run: cargo build --release --target ${{ matrix.target }}

      - name: "Zip"
        run: |
          cp target/${{ matrix.target }}/release/dygma-layer-switcher.exe .
          mv dygma-layer-switcher.exe "Dygma Layer Switcher.exe"
          zip dls-${{ env.PACKAGE_VERSION }}-${{ matrix.target }}.zip "Dygma Layer Switcher.exe"

      - name: "Create Git Tag"
        run: |
          git config --local user.name "GitHub Action"
          git config --local user.email "action@github.com"
          git tag -a ${{ env.PACKAGE_VERSION }} -m "${{ env.PACKAGE_VERSION }}"
          git push origin ${{ env.PACKAGE_VERSION }}

      - name: "Create GitHub Release"
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ env.PACKAGE_VERSION }}
          release_name: ${{ env.PACKAGE_VERSION }}
          files: |
            dls-${{ env.PACKAGE_VERSION }}-${{ matrix.target }}.zip
