name: Windows

on:
  release:
    types: [created]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target: ["x86_64-pc-windows-gnu"] # Waiting for `aarch64-pc-windows-gnu` to be available.
    steps:
      - name: "Checkout"
        uses: actions/checkout@master

      - name: "Rust"
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          targets: ${{ matrix.target }}

      - name: "Dependencies"
        run: sudo apt-get install -y mingw-w64 libudev-dev zip wine64

      - name: "Build"
        run: cargo build --release --target ${{ matrix.target }}

      - name: "Zip"
        run: |
          cp target/${{ matrix.target }}/release/dygma-layer-switcher.exe .
          zip windows-${{ github.ref_name }}-${{ matrix.target }}.zip readme.md dygma-layer-switcher.exe assets/icons/icon.ico

      - name: "Release"
        uses: softprops/action-gh-release@v1
        with:
          files: |
            windows-${{ github.ref_name }}-${{ matrix.target }}.zip
