---
name: Windows

on:
  release:
    types: [created]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@master

      - name: "Rust"
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          targets: "x86_64-pc-windows-gnu"

      - name: "Dependencies"
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: mingw-w64 libudev-dev zip
          version: 1.0

      - name: "Build"
        run: cargo build --release --target x86_64-pc-windows-gnu

      - name: "Zip"
        run: zip windows.zip README.md LICENSE target/release/dygma-layer-switcher-service.exe target/release/dygma-layer-switcher-ui.exe

      - name: "Release"
        uses: softprops/action-gh-release@v1
        with:
          files: |
            windows.zip
