---
name: Windows

on:
  release:
    types: [created]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@master

      - name: "Rust"
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          targets: "x86_64-pc-windows-gnu"

      - name: "Dependencies"
        run: sudo apt-get install -y mingw-w64 libudev-dev zip

      - name: "Build"
        run: cargo build --release --target x86_64-pc-windows-gnu

      - name: "Zip"
        run: |
          cp target/x86_64-pc-windows-gnu/release/dygma-layer-switcher.exe .
          zip windows-${{ github.ref_name }}.zip readme.md dygma-layer-switcher.exe assets/icons/icon.ico

      - name: "Release"
        uses: softprops/action-gh-release@v1
        with:
          files: |
            windows-${{ github.ref_name }}.zip
