---
name: Windows

on:
  release:
    types: [created]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: "Tag Name"
        run: echo "TAG_NAME=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

      - name: "Checkout"
        uses: actions/checkout@master

      - name: "Rust"
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          targets: "x86_64-pc-windows-gnu"

      - name: "Dependencies"
        run: sudo apt-get install -y mingw-w64 libudev-dev zip

      - name: "Build"
        run: cargo build --release --target x86_64-pc-windows-gnu

      - name: "Zip"
        run: zip -j windows-${{ env.TAG_NAME }}.zip readme.md target/x86_64-pc-windows-gnu/release/dygma-layer-switcher.exe

      - name: "Release"
        uses: softprops/action-gh-release@v1
        with:
          files: |
            windows-${{ env.TAG_NAME }}.zip
