name: TestExtract

on:
  workflow_dispatch:

jobs:
  test:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@v2

      - name: "Extract Cargo Package Version"
        id: cargo-version
        run: echo "CARGO_VERSION=$(grep '^version' dygma-layer-switcher/Cargo.toml | head -1 | cut -d '\"' -f 2)" >> $GITHUB_ENV
