name: Validate

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest

    steps:
      - name: "Checkout"
        uses: actions/checkout@master

      - name: "Rust"
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          components: clippy, rustfmt

      - name: "Formatting"
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: -- --check

      - name: "Check"
        uses: actions-rs/cargo@v1
        with:
          command: check

      - name: "Clippy"
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: -- -D warnings
