---
name: Windows

on: [push]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          targets: "x86_64-pc-windows-gnu"
      - uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: libudev-dev wine64
          version: 1.0
      - run: cargo build --release --target x86_64-pc-windows-gnu
